@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: none;
  margin: 0;
  padding: 0;
}

/* .container {
  padding: 25px 50px;
  margin: 30px;
  border-radius: 25px;
  border: 5px solid rgba(0, 0, 0, 0.4);
}

.containerWrap {
  display: flex;
  justify-content: space-between;
} */
